.calculate {
  &__attention {
    padding: 8px 48px 8px 8px;
    display: flex;
    background-color: #f5f6fe;
    border: 1px solid #fa8c16;
    border-radius: 8px;
    gap: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 8.5px 0 8.5px;
    margin-bottom: 32px;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      display: block;
      background-image: url("../../assets/images/savings-small.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  &__attention-text {
    font-style: normal;
    flex: 1;
  }

  &__block {
    background-color: #2f54eb;
    border-radius: 24px;
    padding: 24px 24.5px 48px 24.5px;
    color: white;
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.5;
    margin: 0;
    margin-bottom: 16px;
  }

  &__form {
    padding: 24px 16px;
    background-color: white;
    color: #000;
    border-radius: 16px;
  }

  &__form-field {
    margin: 0;
    padding: 0;
    border: none;
  }

  &__form-field-title {
    font-weight: 500;
    font-size: 23px;
    line-height: 1.4;
    text-align: center;
    margin-bottom: 24px;
    padding: 0;
  }

  &__form-input {
    margin-bottom: 8px;
  }

  &__form-input-text {
    margin: 0;
    margin-bottom: 16px;
  }
}
