@use "../bootstrap/bootstrap.scss";

.mainPage {
  &__container {
    width: 100%;
    padding: 0 16px;

    &--no-padding {
      padding: 0;
    }

    @media (min-width: bootstrap.$desktop) {
      width: bootstrap.$desktop;
      margin: 0 auto;
    }
  }

  &__header {
    background-color: var(--accent-color);
    margin-bottom: 44px;
  }

  &__advantages {
    margin-bottom: 44px;
  }

  &__calculate {
    margin-bottom: 44px;
  }

  &__footer {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
