@use "../bootstrap/bootstrap.scss";

.mainHeader {
  padding: 8px 0 54px 0;
  color: #ffffff;
  @media (min-width: bootstrap.$tablet) {
    padding-top: 16px;
    padding-bottom: 101px;
  }

  &__layer-1 {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-bottom: 24px;
    align-items: flex-start;
    @media (min-width: bootstrap.$tablet) {
      margin-bottom: 58px;
    }
  }

  &__layer-2 {
    @media (min-width: bootstrap.$tablet) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
  }

  &__link {
    --text-color: #fff;
    @media (min-width: bootstrap.$tablet) {
      margin-top: 8px;
    }
  }

  &__offer {
    margin-bottom: 16px;

    @media (min-width: bootstrap.$tablet) {
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &__logo {
    & > .logo__svg {
      @media (min-width: bootstrap.$tablet) {
        width: 206px;
        height: 49px;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 23px;
    line-height: 1.4;
    color: #ffffff;
    margin: 0;
    margin-bottom: 16px;
    @media (min-width: bootstrap.$tablet) {
      font-weight: 600;
      font-size: 35px;
      line-height: 1.37;
      margin-bottom: 32px;
    }
  }

  &__titleMark {
    background-color: #52c41a;
    border-radius: 4px;
    color: inherit;
  }

  &__description {
    margin: 0;
    @media (min-width: bootstrap.$tablet) {
      font-weight: 500;
      font-size: 23px;
      line-height: 32px;
    }
  }

  &__offerImage {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 103px;
      height: 40px;
      background-image: url("../../assets/images/offer-label.svg");
      background-repeat: no-repeat;
      right: 8px;
      bottom: 8px;
    }
  }

  &__image {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}
