@use "../bootstrap/bootstrap.scss";

.mainPage {
  &__container {
    width: 100%;
    @media (min-width: bootstrap.$desktop) {
      width: bootstrap.$desktop;
      margin: 0 auto;
    }
  }

  &__header {
    background-color: var(--accent-color);
    margin-bottom: 24px;
  }

  &__footer {
    background-color: var(--accent-color);
    color: #ffffff;
  }
}
