@use "../bootstrap/bootstrap.scss";

.mainPage {
  background-color: #2f54eb;

  &__container {
    width: 100%;
    padding: 0 16px;
    @media (min-width: bootstrap.$desktop) {
      width: bootstrap.$desktop;
      margin: 0 auto;
    }
  }

  &__header {
    margin-bottom: 24px;
  }
}
