@use "./bootstrap/variables.scss";

:root {
  --main-color: #{variables.$main-color};
  --main-text: #{variables.$text-color};
  --text-color: #{variables.$text-color};

  // button settings
  --button-main-color: #{variables.$button-main-color};
  --button-text-color: #{variables.$button-text-color};
  --button-hover-color: #{variables.$button-hover-color};
  --button-focus-color: #{variables.$button-focus-color};
  --button-active-color: #{variables.$button-active-color};
  --button-disable-color: #{variables.$button-disable-color};
  --button-border-radius: #{variables.$button-border-radius};
  --button-gap: #{variables.$button-gap};
  --button-padding: #{variables.$button-padding};
}
