@use "../../styles/bootstrap/bootstrap.scss";

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: all;
  background-color: white;

  &__header {
    height: 60px;
    position: relative;
    margin-bottom: 24px;

    @media (min-width: bootstrap.$desktop) {
      margin-bottom: 96px;
      height: 76px;
    }
  }

  &__close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: transparent;
    border: none;
    background-image: url("../../assets/images/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;

    @media (min-width: bootstrap.$desktop) {
      top: 24px;
      right: 40px;
    }
  }

  &__progress {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 4px;
    background-color: #f5f6fe;
  }

  &__progressLine {
    background-color: #52c41a;
    height: 4px;
    transition: width 0.2s ease 0s;
  }

  &__content {
    width: 100%;
    padding: 0 16px;

    @media (min-width: bootstrap.$desktop) {
      max-width: 800px;
      margin: 0 auto;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.4;
    text-align: center;
    color: #222;
    margin: 0;
    margin-bottom: 16px;

    @media (min-width: bootstrap.$desktop) {
      font-size: 25px;
      line-height: 1.44;
      margin-bottom: 24px;
    }

    .modal__content2 & {
      @media (min-width: bootstrap.$desktop) {
        margin-bottom: 4px;
      }
    }
  }

  &__buttonsList {
    @include bootstrap.listReset;
    margin-bottom: 16px;

    @media (min-width: bootstrap.$desktop) {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 24px;
    }
  }

  &__buttonsListItem {
    & + & {
      margin-top: 8px;

      @media (min-width: bootstrap.$desktop) {
        margin-top: 0;
        margin-left: 16px;
      }
    }
  }

  &__button {
    @media (min-width: bootstrap.$desktop) {
      width: auto;
      margin: 0 auto;
    }
  }

  &__description {
    text-align: center;
    margin: 0;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    color: #646464;
    @media (min-width: bootstrap.$desktop) {
      margin-bottom: 24px;
    }

    & > span {
      font-weight: 700;
      text-transform: capitalize;
    }
  }

  &__form {
    @media (min-width: bootstrap.$desktop) {
      max-width: 250px;
      margin: 0 auto;
    }
  }

  &__formInput {
    & + & {
      margin-top: 8px;
      @media (min-width: bootstrap.$desktop) {
        margin-top: 16px;
      }
    }
  }

  &__formButton {
    margin-top: 16px;
    margin-bottom: 16px;

    @media (min-width: bootstrap.$desktop) {
      margin-top: 24px;
    }

  }

  &__form-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.64;
    text-align: center;
    color: #646464;
    margin: 0;

    & > svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 8px;
      margin-bottom: 4px;
    }
  }
}
